.toy-home {
  background: #f8fafc;
  flex: 1;
  width: 100%;
  height: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  color: #1a202c;
}

.cta-button {
  display: inline-block;
  background: rgb(255, 255, 255);
  color: #530101;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid #530101;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: auto;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.cta-button:hover {
  box-shadow: 0 6px 20px rgba(244, 16, 16, 0.3);
  background: #f8f9fa;
}
