#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
